<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.harasoft.relaunch"
      android:versionName="1.2.6pre" android:versionCode="100200600">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".ReLaunchApp" >

        <activity android:name=".Home"
                  android:launchMode="singleInstance"
                  android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Home1"
                  android:launchMode="singleInstance"
                  android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.bn.intent.action.home" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="quicknav.view" android:value="true" />
        </activity>

        <activity android:name=".Shop"
                  android:launchMode="singleInstance"
                  android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.bn.intent.action.shop" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="quicknav.view" android:value="true" />
        </activity>

        <activity android:name=".Library"
                  android:launchMode="singleInstance"
                  android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.bn.intent.action.library"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="quicknav.view" android:value="true" />
        </activity>

        <activity android:name=".Main"
                  android:launchMode="singleInstance"
                  android:stateNotNeeded="true"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>

       <activity android:name="ReLaunch">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
       <activity android:name="Advanced">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
       <activity android:name="AllApplications">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="TypesActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="PrefsActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="SearchActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="ResultsActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="FiltersActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="TaskManager">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="Viewer">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="Editor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
    </application>
</manifest>